<ion-header>
  <ion-toolbar>
    <ion-title color="primary"><strong>My Profile</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <div class="camera-div">
      <ion-avatar>
        <ion-img
          *ngIf="!userDetails.profileImage"
          src="assets/images/avatar.jpg"
        ></ion-img>
        <ion-img
          *ngIf="userDetails.profileImage"
          [src]="userDetails.profileImage"
        ></ion-img>
      </ion-avatar>
    </div>
    <h3>{{userDetails.fname}}</h3>
    <ion-button routerLink="/edit-profile" size="small"
      >Edit Profile</ion-button
    >
  </div>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" slot="start" name="pizza-outline"></ion-icon>
      <ion-label> My Deals</ion-label>
    </ion-item>
    <ion-item routerLink="/contact-us">
      <ion-icon color="primary" slot="start" name="call-outline"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-item>
    <ion-item (click)="presentToast()" lines="none">
      <ion-icon color="primary" slot="start" name="people-outline"></ion-icon>
      <ion-label>Invite Friends</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item (click)="logOut()" lines="none">
      <ion-icon color="primary" slot="start" name="power-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
