<ion-content>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <h3 style="margin: 20px 0 25px"><strong>My Profile</strong></h3>
    <div class="camera-div">
      <ion-avatar>
        <ion-img src="assets/images/avatar.jpg"></ion-img>
      </ion-avatar>
    </div>
    <h3>{{userDetails.fname}}</h3>
    <ion-button routerLink="/edit-profile" size="small"
      >Edit Profile</ion-button
    >
  </div>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" slot="start" name="pizza-outline"></ion-icon>
      <ion-label> My Deals</ion-label>
    </ion-item>
    <ion-item routerLink="/contact-us">
      <ion-icon color="primary" slot="start" name="call-outline"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon color="primary" slot="start" name="people-outline"></ion-icon>
      <ion-label>Invite Friends</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-icon color="primary" slot="start" name="power-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
