<ion-content>
  <div class="full-flex">
    <ion-img style="width: 60%" src="assets/images/logo.png"></ion-img>
    <p>create an account</p>
    <form [formGroup]="signupForm" (submit)="handleSignUp()">
      <div class="flex-item" style="margin-top: 3vh">
        <ion-input
          formControlName="fname"
          placeholder="First Name"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item">
        <ion-input
          formControlName="lname"
          placeholder="Last Name"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item">
        <ion-input
          formControlName="age"
          placeholder="Age"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item">
        <ion-input
          formControlName="email"
          placeholder="Email"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item">
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item">
        <ion-button type="submit" class="flex-btn">Sign Up</ion-button>
      </div>
      <ion-item style="margin-top: 5px" lines="none">
        <ion-checkbox formControlName="gtc" slot="start"></ion-checkbox>
        <ion-text style="font-size: 12px"
          >By creating an account or logging in, you agree to swig's Terms &
          Conditions and Privacy Policy</ion-text
        >
      </ion-item>
    </form>
    <div class="flex-item" style="margin: 0 0 10px">
      <ion-button (click)="facebookLogin()" class="flex-btn social-btn"
        ><ion-icon
          style="padding-right: 10px; color: #3b5998"
          name="logo-facebook"
        ></ion-icon
        >Sign Up with Facebook</ion-button
      >
    </div>
    <!-- 
    <ion-row class="btn-row">
      <ion-col size="6">
        <ion-button
          ><ion-icon style="padding-right: 10px" name="logo-google"></ion-icon
          >Google</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button
          ><ion-icon style="padding-right: 10px" name="logo-facebook"></ion-icon
          >Facebook</ion-button
        >
      </ion-col>
    </ion-row> -->
    <p>
      Already have an account?<span routerLink="/login" style="outline: none">
        <strong> Login Here</strong>
      </span>
    </p>
  </div>
</ion-content>
