<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title color="primary">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Please enter your registered email to reset your password</p>
  <form [formGroup]="forgotPasswordForm">
    <div class="flex-item" style="margin-top: 10px; padding: 0px">
      <ion-input
        formControlName="email"
        placeholder="Email"
        class="flex-input"
      ></ion-input>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button (click)="resetPasswordInit()"> Recover Password</ion-button>
</ion-footer>
