ion-button {
  width: 100%;
}
//global
.full-flex {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-item {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.flex-input {
  --width: 100%;
  --padding-left: 15px;
  --padding: 10px;
  --padding-start: 10px;
  --height: 50px;
  height: 50px;
  border-radius: 10px;
  --background: #f0f0f0;
  font-size: 14px;
}
.flex-btn {
  width: 100%;

  font-weight: 600;
  --border-radius: 20px;
}

ion-input {
  --padding-start: 10px;
  padding: 10px;
  --padding-end: 12px;
}
form {
  width: 100%;
}
