<ion-content>
  <div class="full-flex">
    <!-- <h1 style="color: var(--ion-color-primary); font-size: 32px">Swig</h1> -->
    <ion-img style="width: 60%" src="assets/images/logo.png"></ion-img>
    <p>sign in to continue</p>

    <form [formGroup]="loginForm" (submit)="handleLoginUser()">
      <div class="flex-item" style="margin-top: 7vh">
        <ion-input
          formControlName="email"
          placeholder="Email"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item">
        <ion-input
          formControlName="password"
          placeholder="Password"
          type="password"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="flex-item" style="margin-top: 5vh">
        <ion-button type="submit" class="flex-btn">Sign In</ion-button>
      </div>
    </form>
    <p routerLink="/forgot-password" style="outline: none; margin-top: 4vh">
      Forgot Password?
    </p>
    <!-- <ion-row class="btn-row" style="margin-top: 3vh">
      <ion-col size="6">
        <ion-button
          ><ion-icon style="padding-right: 10px" name="logo-google"></ion-icon
          >Google</ion-button
        >
      </ion-col>
      <ion-col size="12">
        <ion-button class="flex-btn"
          ><ion-icon
            style="padding-right: 10px; color: #3b5998"
            name="logo-facebook"
          ></ion-icon
          >Facebook</ion-button
        >
      </ion-col>
    </ion-row> -->
    <div class="flex-item" style="margin-top: 5vh">
      <ion-button (click)="facebookLogin()" class="flex-btn social-btn"
        ><ion-icon
          style="padding-right: 10px; color: #3b5998"
          name="logo-facebook"
        ></ion-icon
        >Sign In with Facebook</ion-button
      >
    </div>
    <p style="margin-top: 5vh">
      New to here?<span routerLink="/signup" style="outline: none">
        <strong> Signup Here</strong>
      </span>
    </p>
  </div>
</ion-content>
