<ion-header>
  <ion-toolbar>
    <ion-title style="width: 140px" color="primary"
      ><ion-img style="width: 100px" src="assets/images/logo.png"></ion-img>
    </ion-title>
    <ion-icon
      routerLink="/search"
      class="search-icon"
      color="primary"
      slot="end"
      name="search"
    ></ion-icon
  ></ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top: 15px" class="description-item" lines="none">
    <ion-list>
      <ion-label class="title-text" color="primary">Featured Deals</ion-label>
    </ion-list>
    <ion-button routerLink="/tabs/featured-deals" slot="end"
      >See All</ion-button
    >
  </ion-item>

  <ion-row>
    <ion-col size="8" *ngFor="let deal of featuredDeals">
      <ion-card
        (click)="dealClicked(deal.id)"
        [style.background-image]="'url(' + deal.imageURL + ')' "
        style="background-position: center; background-repeat: no-repeat"
      >
        <div>
          <p class="time-remaining">{{getCountDownTime(deal.dealEndTime)}}</p>

          <p class="offer-text1">{{deal.discountInPercentage}}</p>
          <p class="location-text">{{deal.title}}</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-item style="margin-top: 30px" class="description-item" lines="none">
    <ion-list>
      <ion-label class="title-text" color="primary">Deals Nearby</ion-label>
    </ion-list>
  </ion-item>

  <ng-container *ngIf="nearbyDeals.length > 0">
    <ion-card
      (click)="dealClicked(deal.id)"
      class="deal-card"
      *ngFor="let deal of nearbyDeals"
      [style.background-image]="'url(' + deal.imageURL + ')' "
      style="background-position: center; background-repeat: no-repeat"
    >
      <div>
        <p class="time-remaining">{{getCountDownTime(deal.dealEndTime)}}</p>

        <p class="offer-text2">{{deal.discountInPercentage}}</p>
        <p class="location-text">{{deal.title}}</p>
      </div>
      <h5></h5>
    </ion-card>
  </ng-container>
  <ion-item
    lines="none"
    *ngIf="nearbyDeals.length === 0"
    style="text-align: center; margin-top: 20px"
  >
    <ion-list style="width: 100%; text-align: center">
      <ion-label style="font-size: 14px" color="danger"
        >Couldn't find any deals nearby you, Check your location
        permissions</ion-label
      >
      <ion-button
        style="text-align: center; width: 60%"
        (click)="getUserPosition()"
      >
        Try Again
      </ion-button>
    </ion-list>
  </ion-item>
</ion-content>
